 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('node_modules/bootstrap/dist/css/bootstrap.css') }}">
    <title>Document</title>
 </head>
 <body>
    <table class="table">
        <tr class="table-active">
            <td>Firstname</td>
            <td>Name</td>
            <td>Age</td>
        </tr>
        {% for u in users %}       
        <tr  {% if loop.index is odd %} class="table-info" {% endif %}>
            <td>{{ u.firstname }}</td>
            <td>{{ u.name }}</td>
            <td>{{ u.age }}</td>
        </tr>
        {% endfor %}
    </table>
 </body>
 </html>