{% extends "template.html.twig" %}

{% block title %}
    First Page
{% endblock %}

{% block PageTitle %}
    First Page
{% endblock %}

{% block body %}
    <div>
        <h1>Blabla {{ name }} {{ firstname }} </h1>
        <p>Bonjour</p>
        Je veux aller sur cette url absolue : {{ url("app_first") }}
    </div>
{% endblock %}
